:root {
  --safe-area-top: env(safe-area-inset-top, 0);
  --safe-area-bottom: env(safe-area-inset-bottom, 0);
}
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#__next {
  height: 100vh;
  width: 100vw;
}
